###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=84d0526cc9c195f524b1f744eb4b87cf
###< symfony/framework-bundle ###

###> Nginx ###
DOCKER_NGINX_WEB_PORT=8080
DOCKER_NGINX_VERSION=1.23
###< Nginx ###

###> PHP ###
DOCKER_PHP_VERSION=8.1.11-fpm-alpine3.16
###< PHP ###

###> Xdebug ###
DOCKER_PHP_XDEBUG_IDE_KEY=weather-checker
DOCKER_PHP_XDEBUG_ENABLED=0
DOCKER_PHP_XDEBUG_REMOTE_HOST=172.17.0.1
DOCKER_PHP_XDEBUG_REMOTE_PORT=9004
###< Xdebug ###

###> doctrine/doctrine-bundle ###
DOCKER_MYSQL_VERSION=5.7
MYSQL_HOST=db
MYSQL_PORT=3306
MYSQL_DATABASE=database
MYSQL_USER=weather-checker
MYSQL_PASSWORD=secret
MYSQL_ROOT_PASSWORD=verysecret
DATABASE_URL="mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@${MYSQL_HOST}:${MYSQL_PORT}/${MYSQL_DATABASE}"
###< doctrine/doctrine-bundle ###

###> symfony/messenger ###
# Choose one of the transports below
# MESSENGER_TRANSPORT_DSN=amqp://guest:guest@localhost:5672/%2f/messages
# MESSENGER_TRANSPORT_DSN=redis://localhost:6379/messages
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
###< symfony/messenger ###

###> symfony/mailer ###
# MAILER_DSN=null://null
###< symfony/mailer ###

###> lexik/jwt-authentication-bundle ###
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=169425d871d186e1b35400bed699bf017c63db61c31a7f6b1dfc56fb7f135aa3
###< lexik/jwt-authentication-bundle ###
